# Composer files.
/vendor
composer.lock

# Different environment-related files.
/.idea
.DS_Store

# Tests
.phpunit.result.cache
/.phpunit.cache

# PHP CS Fixer
php-cs-fixer-v3.phar
.php-cs-fixer.cache